services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
      PGADMIN_CONFIG_ALLOW_SAVE_PASSWORD: 'True'
    ports:
      - "5050:80"
    volumes:
      - ./pgadmin/servers.json:/pgadmin4/servers.json
      - ./pgadmin/.pgpass:/tmp/.pgpass:ro
    entrypoint: >
      /bin/sh -c "
        cp /tmp/.pgpass /var/lib/pgadmin/.pgpass &&
        chown pgadmin:root /var/lib/pgadmin/.pgpass &&
        chmod 600 /var/lib/pgadmin/.pgpass &&
        /entrypoint.sh
      "

volumes:
  postgres_data: